.login-container {
    height: 90vh;
    background-color: #E0E0E0;
    align-items: center;
    display: flex;
}

.form-login {
    text-align: center;
    background: #9C27B0;
    max-width: 300px;
    padding: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}