body {
    background-color: #E0E0E0;
}

.login-container {
    height: 90vh;
    align-items: center;
    display: flex;
}

.form-login {
    text-align: center;
    background: white;
    width: 300px;
    height: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.login-container h2{
    text-align: left;
    color: white;
    margin: 0px 0px 35px 0px;
    padding: 10px;
    background-color: #2196F3;
}

.btn-fb-login{
    background: #425F9C;
    color: white;
    padding: 5px 10px;
    align-items: center;
    text-decoration: none;
}